@{
    ViewData["Title"] = "Sleep Feed";
}

<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<div class="text-center">

    <div>
        @foreach (var review in Model)
        {
            <div class="review-box">
                <p><strong>Reviewer:</strong> @review.Reviewer</p>
                <p><strong>Sleep Rating:</strong> @review.SleepRating</p>
                <p><strong>Description:</strong> @review.Description</p>
                <p><strong>Sleep Goal:</strong> @review.SleepGoal</p>
                <p><strong>Sleep Duration (minutes):</strong> @review.SleepDuration</p>
                <p><strong>Start Time:</strong> @review.StartTime</p>
                <p><strong>End Time:</strong> @review.EndTime</p>
                <p><strong>Date:</strong> @review.Date.ToString("yyyy-MM-dd")</p>


                @Html.ActionLink("Edit", "EditReview", "SleepReview", new { id = review.Id }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>
