@model PresentationLayer.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}


<form method="post" asp-action="Login">
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" class="form-control" value="@Model.Username" required />
        @Html.ValidationMessageFor(m => m.Username) 
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" class="form-control" required />
        @Html.ValidationMessageFor(m => m.Password) 
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<p>Don't have an account? 
<a asp-action="Register" asp-controller="Login">Register here</a>


@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @ViewData["ErrorMessage"]
    </div>
}
